@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body.main #wrap,
body.main #container,
body.main #contents {
  height: 100%;
  position: relative;
}

/* html.shown body {
  visibility: visible;
} */

body {
  background: url("../images/sub-main.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

/***************************************************
                        헤더,네비
***************************************************/

header.head {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 112px;
  top: 0;
  left: 0;
  transition: height 0.5s;
  z-index: 2000;
}

header.scroll-header {
  background-color: #fff;
  color: #1d2433 !important;
  position: fixed;
  width: 100%;
  height: 112px;
  top: 0;
  left: 0;
  transition: height 0.5s;
  z-index: 2000;
}

header.scroll-header a {
  color: #1d2433 !important;
}

header.scroll-header>#gnb>ul>li>ul>li>a {
  color: #ffffff !important;
}

header.scroll-header:hover {
  background-color: #fff;
}

header.scroll-header {
  background-color: #fff;
  color: #1d2433 !important;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  transition: height 0.5s;
  z-index: 2000;
}

header:hover {
  background-color: #1c2433;
}

header>h1 {
  display: block;
  width: 225px;
  height: 50px;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

header>h1>a {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  background: url("../images/logo.svg") 0 50% no-repeat;
  background-size: contain;
  transition: all 0.3s;
  background-repeat: no-repeat;
}

#gnb {
  margin-left: 390px;
  letter-spacing: 0;
}

#gnb>ul>li {
  position: relative;
  float: left;
}

#gnb a {
  color: #fff;
  font-size: 19px;
}

.head>#gnb>ul>li>a {
  display: block;
  height: 112px;
  line-height: 112px;
  position: relative;
  padding: 0 38px;
  transition: all 0.3s;
}

.scroll-header>#gnb>ul>li>a {
  display: block;
  height: 80px;
  line-height: 80px;
  position: relative;
  padding: 0 38px;
  transition: all 0.3s;
}

#gnb>ul>li>a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #b18e64;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.4s;
}

#gnb>ul>li>a:hover {
  color: #b18e64;
}

#gnb>ul>li>a:hover::after {
  width: 100%;
}

.head>#gnb>ul>li>ul {
  position: absolute;
  top: 112px;
  left: 0;
  white-space: nowrap;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
}

.scroll-header>#gnb>ul>li>ul {
  position: absolute;
  top: 70px;
  left: 0;
  white-space: nowrap;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
}

#gnb>ul>li>ul::before {
  content: "";
  box-sizing: border-box;
  display: block;
  background-color: #1c2433;
  position: fixed;
  width: 100%;
  height: 0;
  top: 112px;
  left: 0;
  transition: all 0.3s;
}

.scroll-header>#gnb>ul>li>ul::before {
  content: "";
  box-sizing: border-box;
  display: block;
  background-color: #1c2433;
  position: fixed;
  width: 100%;
  height: 30px;
  top: 80px;
  left: 0;
  transition: all 0.3s;
}

.head>#gnb>ul>li:hover>ul {
  height: 66px;
}

.scroll-header>#gnb>ul>li:hover>ul {
  height: 45px;
}

.head>#gnb>ul>li:hover>ul::before {
  height: 66px;
  border-top: solid 2px #000;
}

.scroll-header>#gnb>ul>li:hover>ul::before {
  height: 45px;
  border-top: solid 2px #000;
}

#gnb>ul>li>ul>li {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.head>#gnb>ul>li>ul>li>a {
  letter-spacing: -0.03em;
  font-size: 0.867em;
  color: #fff;
  display: block;
  height: 66px;
  line-height: 66px;
  padding: 0 30px;
}

.scroll-header>#gnb>ul>li>ul>li>a {
  letter-spacing: -0.03em;
  font-size: 0.867em;
  color: #fff;
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  margin-top: 10px;
}

/***************************************************
                  메인(사이드바)
***************************************************/
#contents::after {
  content: "";
  display: block;
  clear: both;
}

body.main #contents .slogan {
  color: #fff;
}

body.main #contents>.inner {
  width: 1180px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

body.main #contents .slogan>span.bar {
  display: block;
  width: 70px;
  height: 4px;
  background-color: #b28f64;
  margin-bottom: 1.2em;
}

body.main #contents .slogan>*:nth-child(1),
div.inner.course-wrap>*:nth-child(1) {
  animation-delay: 0.3s;
}

div.inner.course-wrap>*,
body.main #contents .slogan>* {
  animation: showUp 0.7s 1;
  animation-fill-mode: forwards;
}

body.main #contents .slogan>p.big {
  font-size: 4.2em;
  letter-spacing: 0.02em;
}

body.main #contents .slogan>*:nth-child(2),
div.inner.course-wrap>*:nth-child(2) {
  animation-delay: 0.5s;
}

body.main #contents .slogan>p.text {
  font-size: 1.429em;
  margin-top: 2em;
}

body.main #contents .slogan>*:nth-child(4),
div.inner.course-wrap>*:nth-child(4) {
  animation-delay: 0.9s;
}

body.main #contents .slogan .btn {
  background: transparent !important;
  position: relative;
  border: solid 1px #b18e64;
  width: 108px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  display: none;
}

a.btn.color02 {
  background-color: #b18e64 !important;
  border-color: transparent;
  color: #fff;
}

a.btn {
  font-size: 0.866em;
  font-weight: 500;
  padding: 0 0.8em;
  border-radius: 0px;
  height: 28px;
  line-height: 26px;
  border: solid 1px #c7c7c7;
  background-color: #fff;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

body.main .btn-personal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ac8b60;
  border-radius: 50%;
  z-index: 15;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: all 0.3s;
}

#contents::after {
  content: "";
  display: block;
  clear: both;
}

.widget-wrap {
  animation-delay: 0.2s;
}

.widget-wrap,
.bottom-wrap,
.right-nav {
  animation: opacity 1.2s 1;
  animation-fill-mode: forwards;
}

.widget-wrap {
  background-color: #1d2433;
  position: fixed;
  width: 60px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 0 10px 0;
  color: #fff;
  overflow: hidden;
  transition: all 0.4s;
  z-index: 9;
}

#wrap,
header {
  min-width: 1348px;
}

body.main .btn-personal>span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  font-size: 0.8em;
  line-height: 1.25em;
  text-align: center;
  color: #fff;
  transition: all 0.3s;
}

body.main .btn-personal:hover {
  background: #fff;
  cursor: pointer;
}

body.main .btn-personal::before {
  content: "";
  background: #000 url(../images/btn-go-top.svg) 50% 50% no-repeat;
  background-size: 40px auto;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%) rotate(90deg);
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s;
}

body.main .btn-personal:hover::before {
  left: 50%;
}

body.main .btn-personal:hover>span {
  display: none;
}

a:link,
a:visited,
a:hover {
  color: #444;
}

.widget-wrap {
  z-index: 1000;
  cursor: pointer;
}

.widget-wrap .weather div.tab {
  margin-top: 10px;
  margin-bottom: 6px;
  clear: both;
  position: relative;
}

.widget-wrap>ul>li.home {
  display: none;
}

.widget-wrap>ul>li>a {
  color: #fff;
  display: block;
  font-weight: 200;
  font-size: 1.1em;
  letter-spacing: 0.18em;
  padding: 6px 48px 6px 16px;
  transition: all 0s;
  position: relative;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

.widget-wrap>ul>li>a>span {
  text-indent: -400px;
  white-space: nowrap;
  display: inline-block;
  transition: all 0.3s;
}

.widget-wrap>ul>li>a::before {
  margin-top: 100%;
}

.widget-wrap>ul>li>a::before,
.widget-wrap>ul>li>a::after {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  transition: all 0.2s;
}

.widget-wrap>ul>li.course>a:hover::after {
  background-image: url(../images/ico-widget-course-navy.svg);
}

.widget-wrap>ul>li.course>a::after {
  background-image: url(../images/ico-widget-course.svg);
}

.widget-wrap>ul>li.restaurant>a:hover:after {
  background-image: url(../images/ico-widget-restaurant-navy.svg);
}

.widget-wrap>ul>li.restaurant>a::after {
  background-image: url(../images/ico-widget-restaurant.svg);
}

.widget-wrap>ul>li.roadmap>a:hover:after {
  background-image: url(../images/ico-widget-roadmap-navy.svg);
}

.widget-wrap>ul>li.roadmap>a::after {
  background-image: url(../images/ico-widget-roadmap.svg);
}

.widget-wrap>ul>li.instagram>a:hover:after {
  background-image: url(../images/ico-widget-instagram-navy.svg);
}

.widget-wrap>ul>li.instagram>a::after {
  background-image: url(../images/ico-widget-instagram.svg);
}

.widget-wrap>ul>li.email>a:hover:after {
  background-image: url(../images/ico-widget-email-navy.svg);
}

.widget-wrap>ul>li.email>a::after {
  background-image: url(../images/ico-widget-email.svg);
}

.widget-wrap>ul>li>a:hover {
  color: #1d2433 !important;
  background-color: #fff !important;
}

.widget-wrap:hover {
  width: 267px;
}

.widget-wrap:hover>ul>li>a>span {
  text-indent: 0;
  white-space: nowrap;
  display: inline-block;
  transition: all 0.3s;
}

.widget {
  color: #fff;
  width: 300px;
}

.weather_icon {
  font-size: 10px;
  margin-top: 20px;
  margin-left: 5px;
}

.weather-text {
  float: left;
  font-size: 12pt;
  margin-top: 20px;
}

.city {
  margin-top: 20px;
}

/************************************************************
                      sub-메인화면
*************************************************************/
main {
  height: 100%;
  background-color: #444;
  position: relative;
  z-index: 100;
}

.intro-wrap {
  height: 400px;
  background-color: #fff;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

.intro-img {
  background: url(../images/intro-img.jpg);
  width: 670px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.intro-text-wrap {
  width: 670px;
  height: 300px;
  margin-left: 30px;
}

.intro-text-wrap>p {
  font-family: "Noto Sans KR", sans-serif;
  padding: 10px 0;
}

.intro-text-wrap>p:first-child {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.3em;
}

.intro-text-wrap p:nth-child(2) {
  font-weight: bold;
  font-size: 40px;
}

.intro-text-wrap p:nth-child(3) {
  font-size: 20px;
}

.intro-text-wrap p:last-child {
  margin-top: 40px;
  color: #777;
  line-height: 1.5;
}

.img-ba-attachment {
  background: url(../images/img-attachment.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
}

/************************************************************
                     main-sub슬라이더
*************************************************************/
.facilties {
  height: 700px;
  background-color:#846136;
  position: relative;
  padding: 0 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************************************************************
                      main-코스소개(.couuse-intro)
*************************************************************/
.course-intro {
  height: 800px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  align-items: center;
}

.course-intro .course-text {
  width: 40%;
  background-color: #fff;
  margin-right: 30px;

}

.course-intro .course-text p {
  font-family: "Noto Sans KR", sans-serif;
  padding: 10px 0;
}

.course-intro .course-text p:first-child {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.3em;
}

.course-intro .course-text p:nth-child(2) {
  font-weight: bold;
  font-size: 40px;
}

.course-intro .course-text p:nth-child(3) {
  font-size: 20px;
}

.course-intro .course-text p:last-child {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
  margin-top: 30px;
}

.course-intro .course-img {
  width: 40%;
  margin-left: 20px;
  height: 700px;
  background: url(../images/bg-course-map.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/************************************************************
                    main 배너자리
*************************************************************/
.banner-wrap {
  height: 150px;
  background: url(../images/banner.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-wrap .banner-text {}

.banner-wrap .banner-text p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  color: #fff;
}

.banner-wrap .banner-text p:first-child {
  font-size: 25px;
}

.banner-wrap .banner-text p:last-child {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.banner-wrap button {
  background-color: transparent;
  height: 50px;
}

.banner-wrap button a {
  display: block;
}

.banner-wrap button span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.banner-wrap button i {
  line-height: 26px;
  font-size: 18px;
  color: #fff;
  margin-left: 5px;
}

/************************************************************
                    footer영역
*************************************************************/
footer {
  height: 150px;
  background-color:#505050;
}

.footer-top {
  height: 50px;
  padding: 0 100px;
  border-bottom: 1px solid #333;
}

.footer-top .footer-top-text {}

.footer-top .footer-top-text span {
  line-height: 50px;
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

.footer-top .footer-top-sns {}

.footer-top .footer-top-sns span {
  line-height: 50px;
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}

.footer-bottom {
  height: 100px;
  padding: 0 100px;
}

.footer-bottom .footer-logo {}

.footer-bottom .footer-logo a {
  display: block;
  width: 250px;
  height: 100px;
  background: url(../images/footerlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-bottom .footer-bt-text {
  margin-top: 20px;
  margin-left: 50px;
}
.footer-bottom .footer-bt-text span{
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}
